.title {
  text-align: center;
  font-family: Lobster, palatino;
  color: orangered;
  font-size: 16px;
}
.sub-title {
  text-align: center;
  font-family: Lobster, palatino;
  color:tomato;
  font-size: 16px;
}

.image {
  text-align: center;
}

.links {
  text-align: center;
  font-family: Lobster, palatino;
    font-size: 16px;
}
.container {
  text-align: center;
  font-family: Lobster, palatino;
  font-size: 18px;
}

.tabcontent {
  text-align: center;
}

.footnote {
  text-align: center;
  font-family: Lobster, palatino;
  color: royalblue;
  font-size: 16px;
}

.image-set {
  text-align: center;
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.visible-border {
  border-color: royalblue;
  border-width: 5px;
  border-style: solid;
  width: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.invisible-border {
  border-radius: 5px;
  width: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}
